<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    
    <div class="container">

        <div class="content" id="home">
        
            <div class="title">
        
                <h1>To-Do-List</h1>
        
            </div>
        
            <div class="btn_s">
            
                <a href="{{url_for('main.view_tasks')}}">
                    <button onclick="btn_verTasks()">Ver minhas tasks</button>
                </a>

                <!-- Formulário para adicionar uma nova task -->
                <form action="{{ url_for('main.submit') }}" method="POST">
                    <input type="text" name="task" id="task" required placeholder="Digite o nome da task">
                    <button type="submit">Adicionar task</button>
                </form>

    
            </div>
        
        </div>

        <div class="content-input" id="view">

            <h1>To-Do-List</h1>

            <form action="/submit" method="POST" autocomplete="off">
    
                <label for="task">Digite o nome da task</label>
                <input type="text" name="task" id="task" required>

                <div class="btn-form">

                    <button id="btn-voltar" onclick="btn_voltar()">Voltar</button>

                    <button id="btn-pronto" onclick="btn_pronto()">Pronto</button>

                </div>
    
            </form>
    
        </div>    

    </div>

    <script src="../static/js/script.js"></script>

    <!-- Exibindo as tarefas -->
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}  <!-- Exibe o título da task -->
                <a href="{{ url_for('main.delete_task', task_id=task.id) }}">Deletar</a>  <!-- Link para deletar -->
                <a href="{{ url_for('main.rename_task', task_id=task.id) }}">Renomear</a>  <!-- Link para renomear -->
            </li>
        {% endfor %}
    </ul>    

</body>

</html>
